h3 {
    color: hotpink;
    background-color: green;
}

.card {
    color: orange;
    background-color: hotpink;
}

h4 {
    color: purple;
    background-color: orange;
}

.link {
    color: green;
    background-color: purple;
}

.card-body {
    color: hotpink;
    background-color: green;
}
