.commentForm{
    background-color: black;
    color: white;
}
.button-add-review{
    color: black;
    background-color: green;
}

.button-add-review:hover{
    color: black;
    background-color: rgb(0, 255, 0);
    border-color: lightgreen;
}

.btn.button-add-review {
    background-color: green;
    color: black;
  }
  
.btn.btn-primary:hover {
    color: black;
    background-color: rgb(0, 255, 0);
    border-color: lightgreen;
}
