
.btn {
color: black !important;
background-color: green !important;
border-color: green !important;
}

.btn:hover {
color: black !important;
background-color: rgb(0, 255, 0) !important;
border-color: lightgreen !important;
}


.commentForm {
background-color: black;
color: white;
}
