.btn {
    color: black;
    background-color: green;
    border-color: green;
}

.btn:hover {
    color: black;
    background-color: rgb(0, 255, 0);
    border-color: lightgreen;
}

.thanks {
    font-family: Courier New, Monospace;
    font-size: 18px;
    color: #ffffff;
}

a {
    color: lightgreen;
}

a:hover {
    color: #006400;
}