.btn {
    color: black;
    background-color: green;
    border-color: green;
}

.btn:hover {
    color: black;
    background-color: rgb(0, 255, 0);
    border-color: lightgreen;
}

.thanks {
    font-family: Courier New, Monospace;
    font-size: 18px;
    color: #ffffff;
}

a:hover {
    color: #90ee90 !important;
    text-decoration: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out !important;
}
