.header-title {
    font-family: Courier New, Monospace;
    font-weight: bold;
    font-size: 46px;
  }
  
  .header-subtitle {
    font-family: Courier New, Monospace;
    font-size: 18px;
  }

  .btn {
    color: black;
    background-color: green;
    border-color: green;
  }
  
  .btn:hover {
    color: black;
    background-color: rgb(0, 255, 0);
    border-color: lightgreen;
  }